body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
    overflow: hidden;
    touch-action: none;
    user-select: none;
    -webkit-user-select: none;
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px; /* Підняли все поле вище */
}

.stats {
    display: flex;
    justify-content: space-between;
    width: 360px; /* 45px * 8 */
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

canvas {
    background-color: #1e1e1e;
    border: 2px solid #333;
    border-radius: 8px;
    display: block;
}

#next-blocks {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    min-height: 110px;
    width: 360px;
    justify-content: center;
}

/* Контейнери-слоти для блоків */
#next-blocks div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px; /* Фіксована ширина, щоб сусідні блоки не совались */
    height: 110px;
    background-color: transparent; /* Повністю прозоро */
}

#next-blocks canvas {
    background-color: transparent;
    border: none;
}

/* СТИЛІ МОДАЛЬНОГО ВІКНА */
.modal {
    display: none;
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(8px);
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modal-content {
    background: #252525;
    padding: 40px 20px;
    border-radius: 20px;
    text-align: center;
    border: 3px solid #FF073A;
    box-shadow: 0 0 30px rgba(255, 7, 58, 0.5);
    width: 280px;
}

#restart-btn {
    background: #00FF7F;
    color: #121212;
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 0 4px 0 #00994d;
}

.setting-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 15px 0;
    font-size: 18px;
}

.action-btn {
    background: #00FF7F;
    color: #121212;
    border: none;
    padding: 8px 20px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.set-btn {
    background: #1E90FF; /* Синій колір для More settings */
    color: white;
}

.label-text {
    font-weight: normal;
    color: #ccc;
}

hr {
    border: 0;
    border-top: 1px solid #444;
    margin: 15px 0;
}

.close-btn {
    margin-top: 10px;
    background: transparent;
    color: #888;
    border: 1px solid #444;
    padding: 8px;
    border-radius: 5px;
    width: 100%;
}
